body
{
    font-family: latoregular;
    font-size: 20px;

    background-color: rgb(10, 4, 34);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-block: 0px;
}

.view
{
    background-image: url("Pliki/Obrazki/TloGora2.jpg");
    /* Obrazek ten przedstawia płytkę elektroniczną pcb 
    w kształcie głowy xenomorfa z filmu alien/
    8 nazłogant nostromo */
    width:100%;
    min-height: 15vh;
    padding-top: 10px;
    
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-block: 0px;

    position: relative;
}


.menu
{
    width: 100%;
    min-height: 5vh;
    background: rgba(0, 0, 0, 0.932);

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-block: 0px;
    padding-top: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 10%;
}

.content
{
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    width: 100%;
    min-height: 80vh;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-block: 0px;
    padding-top: 5px;

    
    justify-content: center;
    align-items: center;
}

footer
{
    color: aliceblue;
    text-align: center;
    min-height: 10px;
    height: 3vh;
}

a
{
    text-decoration: none;
    color: whitesmoke;
    margin-right: 10px;
}
a:visited
{
    color: whitesmoke;
}

a:hover
{
    color: rgb(245, 239, 189);
    background-color: rgb(34, 22, 87);
}

.kafelka
{
    min-width: 300px;
    min-height: 200px;
    width: 30vh;
    height: 30vh;
    background-color: rgba(75, 72, 66, 0.33);
    border-radius: 5%;
    margin: 5px;

    display: inline-block;
    position: relative;
    
}

.zdjKafli
{
    width: 80%;
    height: 70%;
    background-color: red;
    position: absolute;
    top: 5%;
    right: 10%;
    border-radius: 10%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.opisKafli
{
    width: 100%;
    min-height: 10%;
    background-color: rgba(10, 70, 55, 0.15);
    position: absolute;
    bottom: 4%;
    text-align: center;
}

.kafelka:hover
{
    background-color: rgba(136, 108, 52, 0.33);
    border-style: solid;
    border-color: rgba(75, 72, 66, 0.33);
}

h6
{
    margin: 0px;
}